.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 18%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(27px);
  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(7px);

  @include tablets {
    margin-bottom: 14px;
  }
}

.form__block {
  flex: 1;
  margin-right: rem(17px);
  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: rem(3px) solid transparent;
  border-radius: 4px;
  padding: rem(17px) rem(13px);
  &.input-error {
    outline: none;
    border-color: orangered;
  }
  &:focus {
    outline: none;
    border-color: $yellow;
  }
  @include tablets {
    padding: rem(7px) rem(10px);
  }
}

.form__input--textarea {
  height: rem(152px);
  resize: none;
  margin-bottom: rem(18px);

  @include tablets {
    margin-bottom: rem(10px);
    height: rem(82px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(20px);

  @include tablets {
    margin-bottom: rem(18px);
  }

  @include phones {
    justify-content: center;
  }
}

.form__buttons {
  display: flex;
  justify-content: center;
}