.btn {
  display: inline-block;
  background-color: $yellow;
  color: #000;
  padding: rem(21px) rem(41px);
  border-radius: rem(100px);
  font-size: rem(16px);
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  
  &:hover {
    background-color: $yellowHover;
  }

  &--transparent {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: rem(21px) rem(22px);
    &:hover {
      color: $yellow;
    }
  }
}