.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: rem(27px);
  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(7px);
}

.form__block {
  flex: 1;
  margin-right: rem(17px);
  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: rem(3px) solid transparent;
  border-radius: rem(4px);
  padding: rem(17px) rem(13px);
  &:focus {
    outline: none;
    border-color: $yellow;
  }
  &--textarea {
    height: rem(152px);
    resize: none;
    margin-bottom: rem(18px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(20px);
}