.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: rem(40px);
}

.header .header__phone {
  padding-top: rem(10px);
  @include tablets {
    display: none;
  }
}

.logo {
  flex-shrink: 0;
}