.section {
  height: 100%;
  min-height: rem(652px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  color: $black;
  font-size: rem(48px);
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: rem(32px);
  text-transform: uppercase;
  text-align: center;
}